.table-scroll {
  overflow: auto;
}

.table-scroll > table th {
  white-space: nowrap;
}

.table-scroll::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
  height: 8px;
  cursor: pointer;
}

.table-scroll::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.8); /* color of the tracking area */
  cursor: pointer;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.4); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(177, 177, 177, 0.4); /* creates padding around scroll thumb */
  cursor: pointer;
}